<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chinesefoodonline/src/main/resources/com/chinesefoodonline/generator/JavaGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.chinesefoodonline.generator.JavaGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="src/main/java/com/chinesefoodonline/models doc/generation/rowmappers  doc/templates  rowMapperTemplate.flt src/main/java/com/chinesefoodonline/jdbc/services"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chinesefoodonline"/>
</launchConfiguration>
